.card{
  background-color: var(--secondary-color);
  /* width: 400px; */
}

input[type = text], input[type = email]{
  width: 100%;
}

.subs-text{
  width: auto;
}

@media screen and (min-width: 991px)  {
  .card{
    background-color: var(--secondary-color);
    width: 1200px;
  }
}
