<div class="container" *ngIf="postData">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="{{ postData.postImgPath }}"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center"> {{postData.category.category }} </small>
          <small class="bg-light text-success text-center" *ngIf="postData.data?.isFeatured"> Featured </small>
          <small class="bg-light text-info text-center"> Views - {{ postData.views }} </small>
          <small class="bg-light text-warning text-center">
            LAST UPDATED - {{ postData.createdAt.toMillis() | date }}
          </small>
          <h1 class="mt-3 mb-3">{{ postData.title }}</h1>
          <p [innerHTML]="postData.content">
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
     <div *ngFor="let similarpost of similarPost">
      <app-post-card [postData]="similarpost" class="mt-3"></app-post-card>
     </div>

    </div>
  </div>
</div>
