<div class="card mt-5">
  <div class="card-body shadow-effect">
    <h4>Leave a Comment!</h4>
    <p>You can leave a comment using this comment form</p>
    <form action="">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          class="form-control shadow-effect"
          placeholder="Enter your name here"
        />
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <textarea
          id=""
          cols="30"
          rows="10"
          class="form-control shadow-effect"
          placeholder="Add your comments here"
        ></textarea>
        <button class="btn btn-info btn-theme mt-3">Add a Comment</button>
      </div>
    </form>
  </div>
</div>
